<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">

  <variable name="basedir" value="${environment:LOCALAPPDATA}/rivellathetank/la-metrum"/>

  <targets async="true">
    <default-target-parameters
      xsi:type="File"
      archiveOldFileOnStartup="true"
      layout="[${longdate} ${level:uppercase=true} ${callsite:fileName=true:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true}] ${message} ${exception:format=tostring}" />
    <target name="debug" xsi:type="File" fileName="${basedir}/${processname}.${shortdate}.DEBUG.log" />
    <target name="info" xsi:type="File" fileName="${basedir}/${processname}.${shortdate}.INFO.log" />
    <target name="warn" xsi:type="File" fileName="${basedir}/${processname}.${shortdate}.WARN.log" />
    <target name="error" xsi:type="File" fileName="${basedir}/${processname}.${shortdate}.ERROR.log" />
    <target
      name="console"
      xsi:type="ColoredConsole"
      layout="[${longdate} ${level:uppercase=true} ${callsite:fileName=true:includeSourcePath=false:cleanNamesOfAnonymousDelegates=true}] ${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="debug" final="false"/>
    <logger name="*" minlevel="Info" writeTo="console,info" final="false"/>
    <logger name="*" minlevel="Warn" writeTo="warn"  final="false" />
    <logger name="*" minlevel="Error" writeTo="error"  final="false" />
  </rules>
</nlog>
